<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xietian.graduated.dao.PlaneMapper">
  <resultMap id="BaseResultMap" type="com.xietian.graduated.pojo.Plane">
    <id column="p_id" jdbcType="INTEGER" property="pId" />
    <result column="p_name" jdbcType="VARCHAR" property="pName" />
    <result column="p_eco" jdbcType="INTEGER" property="pEco" />
    <result column="p_bus" jdbcType="INTEGER" property="pBus" />
    <result column="p_fc" jdbcType="INTEGER" property="pFc" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    p_id, p_name, p_eco, p_bus, p_fc
  </sql>
  <select id="selectByExample" parameterType="com.xietian.graduated.pojo.PlaneExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from plane
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from plane
    where p_id = #{pId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from plane
    where p_id = #{pId,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.xietian.graduated.pojo.PlaneExample">
    delete from plane
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.xietian.graduated.pojo.Plane">
    insert into plane (p_id, p_name, p_eco, 
      p_bus, p_fc)
    values (#{pId,jdbcType=INTEGER}, #{pName,jdbcType=VARCHAR}, #{pEco,jdbcType=INTEGER}, 
      #{pBus,jdbcType=INTEGER}, #{pFc,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.xietian.graduated.pojo.Plane">
    insert into plane
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="pId != null">
        p_id,
      </if>
      <if test="pName != null">
        p_name,
      </if>
      <if test="pEco != null">
        p_eco,
      </if>
      <if test="pBus != null">
        p_bus,
      </if>
      <if test="pFc != null">
        p_fc,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="pId != null">
        #{pId,jdbcType=INTEGER},
      </if>
      <if test="pName != null">
        #{pName,jdbcType=VARCHAR},
      </if>
      <if test="pEco != null">
        #{pEco,jdbcType=INTEGER},
      </if>
      <if test="pBus != null">
        #{pBus,jdbcType=INTEGER},
      </if>
      <if test="pFc != null">
        #{pFc,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.xietian.graduated.pojo.PlaneExample" resultType="java.lang.Long">
    select count(*) from plane
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update plane
    <set>
      <if test="record.pId != null">
        p_id = #{record.pId,jdbcType=INTEGER},
      </if>
      <if test="record.pName != null">
        p_name = #{record.pName,jdbcType=VARCHAR},
      </if>
      <if test="record.pEco != null">
        p_eco = #{record.pEco,jdbcType=INTEGER},
      </if>
      <if test="record.pBus != null">
        p_bus = #{record.pBus,jdbcType=INTEGER},
      </if>
      <if test="record.pFc != null">
        p_fc = #{record.pFc,jdbcType=INTEGER},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update plane
    set p_id = #{record.pId,jdbcType=INTEGER},
      p_name = #{record.pName,jdbcType=VARCHAR},
      p_eco = #{record.pEco,jdbcType=INTEGER},
      p_bus = #{record.pBus,jdbcType=INTEGER},
      p_fc = #{record.pFc,jdbcType=INTEGER}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.xietian.graduated.pojo.Plane">
    update plane
    <set>
      <if test="pName != null">
        p_name = #{pName,jdbcType=VARCHAR},
      </if>
      <if test="pEco != null">
        p_eco = #{pEco,jdbcType=INTEGER},
      </if>
      <if test="pBus != null">
        p_bus = #{pBus,jdbcType=INTEGER},
      </if>
      <if test="pFc != null">
        p_fc = #{pFc,jdbcType=INTEGER},
      </if>
    </set>
    where p_id = #{pId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.xietian.graduated.pojo.Plane">
    update plane
    set p_name = #{pName,jdbcType=VARCHAR},
      p_eco = #{pEco,jdbcType=INTEGER},
      p_bus = #{pBus,jdbcType=INTEGER},
      p_fc = #{pFc,jdbcType=INTEGER}
    where p_id = #{pId,jdbcType=INTEGER}
  </update>

  <select id="list" resultMap="BaseResultMap">
    SELECT
    <include refid="Base_Column_List" />
    FROM plane
    <if test="pName != null">
      WHERE p_name LIKE '%${pName}%'
    </if>
    ORDER BY p_id DESC
    LIMIT #{pageNo},#{pageSize}
  </select>
</mapper>